---
interface Props {
  currentPath?: string;
}

const { currentPath = '' } = Astro.props;
---

<nav class="nav" id="main-nav">
  <a href="/dereferenced" class="nav__logo">
    <span class="nav__logo-text">dereferenced</span>
    <span class="nav__logo-tooltip">Ideas, traced to source</span>
  </a>
  <div class="nav__links">
    <a
      href="/dereferenced"
      class:list={["nav__link", { "nav__link--active": currentPath.includes('/dereferenced') || currentPath === '/' }]}
    >
      writing
    </a>
    <a
      href="/about"
      class:list={["nav__link", { "nav__link--active": currentPath === '/about' }]}
    >
      about
    </a>
  </div>
</nav>
